
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    
}
/*---inicio header---*/
.container__section1{
    display: grid;
    grid-template-rows: repeat(4, auto);
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(to top, white, black);

    
}   
.container__1{
    width: 100vw;
    height: 24vh;
    
}

.titulo{
    
    grid-row: 1 / 2;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    align-content: center;
    color: rgb(255, 255, 255);
    letter-spacing: 10px;
    word-spacing: 10px;
    font-family: 'Source Sans Pro', sans-serif;
    text-align: center;
    text-shadow: 10px 3px 2px #696;
    height: 16vh;
}
.nombre{
    font-size: 32px;
}

.lista{
    width: 100vw;
   height: 10vh;
}
.lista__uno{
    grid-row: 2 / 3;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;    
}
.contenido {
    
    color: rgba(255, 255, 255, 0.836);
    text-decoration: none;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1rem;
    text-decoration: underline;
   
}
.lista ul {
    background-color: none;
    
    
}
.lista ul li {
    position: relative;   
}
 
.lista ul li a:hover {
    color: rgb(97, 97, 97);   
}

.lista ul ul {
    display: none;
    position: absolute;
      
}

.lista ul li:hover>ul {
    display: flex;
    flex-direction: column;
    align-content: flex-end;
    justify-content: flex-end;
    padding-left: 50px;
    width: 40vw;
    z-index: 1;

}
/*---fin header---*/
/*---inicio banner---*/
.container__frase{
    grid-row: 3 / 4;
    position: relative;
    width: 100vw;
    height: 70vh;
    display: flex;
    padding-bottom: 80px;
    
}
.frase{
    position: relative;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    text-transform: uppercase;
    text-align: center;
    font-size: 2.0em;
    letter-spacing: 3px;
    overflow: hidden;
    background: linear-gradient(90deg, #000, #fff, #000);
    background-repeat: no-repeat;
    background-size: 80%;
    animation: animate 5s linear infinite;
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(255, 255, 255, 0);
    -webkit-animation: animate 5s linear infinite;
}
  @keyframes animate {
    0% {
      background-position: -500%;
    }
    100% {
      background-position: 500%;
    }
  }
  /*---fin banner---*/
  /*--- inicio about ---*/
.about{

    display: grid;
    grid-template-columns: repeat(2, auto);
    width: 100vw;
    height: 65vh;
    
}
.imagen{
    display: flex;
    justify-content:flex-start;
    align-items: center;
    width: 40vw;
    height: 65vh;
       
}

.imagen__portafolio{

    width: auto;
    height: 35vh;
   
}
.texto__about{

    display: flex;
    align-items: center;
    justify-content: center;
    width: 60vw;
    height: 65vh;
    
}
.texto__about__informacion{

    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60vw;
    height: 35vh;
    color: white;
    font-family: sans-serif;
    font-size: 0.8rem;
    text-align: center;
    padding: 25px;
}
.button__cv{

    display: flex;
    justify-content: center;
    height: 5vh;
    background: white;
    
}
.button__cv__texto{

    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    color: black;
    background: white;
    font-family: sans-serif;
    font-size: 1.2rem;
}


  /*---fin about---*/
  /*---inicio work---*/
.work{

    display: grid;
    grid-template-columns: 100vw;
    width: 100vw;
    height: 71vh;
    padding-top: 65px;
    
}

.imagen_proyectos{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 20vh;
    
    
}
.imagen_proyectos:hover { filter: opacity(.1); -webkit-filter: opacity(.1); }

.imagen__proyectos__1{

    width: 50vw;
    height: auto;
    border: solid 2px #696 ;
    border-radius: 500px ;
    
}


.imagen_servicios{

    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    width: 100vw;
    height: 20vh;

}
.imagen_servicios:hover { filter: opacity(.1); -webkit-filter: opacity(.1); }

.imagen__servicios__1{
    
    width: 50vw;
    border: solid 2px #696 ;
    border-radius: 500px ;
    -webkit-border-radius: 500px ;
    -moz-border-radius: 500px ;
    -ms-border-radius: 500px ;
    -o-border-radius: 500px ;
}

.titulo__proyectos{

    width: 50vw;
    height: 15vh;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    
    
    
    
}
.titulo__productos__01{

    text-decoration: none;
    color: white;
    font-size: 30px;
    font-family: sans-serif;
    text-shadow: 10px 3px 2px #696;

}

.titulo__servicios{

    width: 50vw;
    height: 15vh;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.titulo__servicios__01{

    text-decoration: none;
    color: white;
    font-size: 30px;
    font-family: sans-serif;
    text-shadow: 10px 3px 2px #696;

}

    /*---fin work---*/
    /*---inicio proyectos---*/
.gallery-container{

    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: 35vh;
    padding: 20px ;
    grid-gap: 10px;
    background-image: linear-gradient(to top, rgb(0, 0, 0), rgb(255, 255, 255));


}

.gallery__item{
    position: relative;
    
}


.gallery__img{

    width: 100%;
    height: 100%;
    object-fit: cover;
   
}

.gallery__title{
    position: absolute;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    font-size: 1rem;
    font-family: sans-serif;
    bottom: 0;
    color: white;
    background: linear-gradient(rgba(255,255,255,0),rgba(0,0,0,1));
    width: 100%;


}

.gallery__item:nth-child(1){

    grid-column-start: span 1;
}


   

     /*---fin proyectos---*/
      /*---inicio servicio---*/
      .icon-container{

        display: grid;
        grid-template-columns: repeat(1, 3fr);
        height: 150vh;
        grid-gap: 10px;
        background-image: linear-gradient(to top, rgb(94, 94, 94), rgb(0, 0, 0));


    }

    .gallery__icon{
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        align-content: center;
        height: 30vh;
        
    }

    .gallery__img__png{

        width: 35%;
        object-fit: cover;
          
    }

    .gallery__img__png:hover{

        border-radius:50%;
        -webkit-border-radius:50%;
        box-shadow: 0px 0px 15px 15px #696;
        -webkit-box-shadow: 0px 0px 15px 15px #696;
}

    .gallery__title__icon{
        position: absolute;
        display: flex;
        align-content: center;
        justify-content: center;
        bottom: 0;
        color: white;
        margin: 20px;
        width: 100%;
        font-size: 2rem;
        font-family: sans-serif;

    }

    .gallery__icon:nth-child(1){

        grid-column-start: span 1;
    }


    .gallery__icon:nth-child(2){

        grid-column-start: span 1;
       
    }

    .gallery__icon:nth-child(3){

        grid-row-start: span 1;
    }

    .gallery__icon:nth-child(4){

        grid-column-start: span 1;
    }
    
    .text__service{
        position: absolute;
        display: flex;
        align-content: center;
        justify-content: center;
        bottom: 0;
        color: white;
        width: 60%;
        height: 0vh;
        padding-bottom: 10px;
        text-align :center;
        font-size: 1.2rem;
        font-family: sans-serif;
        
        
    }
    /*---fin servicio---*/
     
    /*---inicio contacto---*/

    .contacto{
        width: 100vw;
        height: 75vh;

    }
    .formulario{

        height: 75vh;
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        

    }

    .cuadro{

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        align-content: center;
        text-decoration: none;
        font-family: sans-serif;
        font-weight: bold;
        
    }

    #exampleFormControlTextarea1{

        resize: none;
        width: 185px;
    }

    .enviar{

        background-color: black;
        color: white;
        width: 100px;
        height: 30px;
    }

    /*---fin contacto---*/
  /*---inicio footer---*/
.footer__icons{
    grid-row: 4 / 4;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: stretch;
    align-items: center;
    width: 100vw;
    height: 5vh;
    transition: 1s all;
    animation-duration: 1s;
    z-index: 1;
    background: black;

}
.icons{
    
    width: 5vw;       
}

.footer__icons .icons{
    transition: 1s all;
    animation-duration: 1s linear infinite;

}
.icons:hover{
    transform: rotateZ(360deg);
    -webkit-transform: rotatez(360deg);
    -moz-transform: rotatez(360deg);
    -ms-transform: rotatez(360deg);
    -o-transform: rotatez(360deg);
}
/*---fin footer---*/

@media (min-width:480px) and (max-width:768px){
/*---inicio header---*/
    .container__section1{
        display: grid;
        grid-template-rows: repeat(4, auto);
        width: 100vw;
        height: 100vh;
        background:black

    }
    .titulo{

        text-shadow: 10px 3px 2px #696;
        letter-spacing: 20px;
        word-spacing: 5px;
        
    }
    .nombre{

        font-size: 35px;
    }

    .lista__uno{
        
        width: 100vw;
        flex-direction: row;
        align-items:center;
        justify-content:space-around;  
        align-content: space-between;  

    }
    .contenido {

        font-size: 1.2rem;
    }
    /*---fin header---*/
     /*---inicio work---*/
    .work{

        
        width: 100vw;
        height: 110vh;
        padding-top: 65px;
        background: black;
        
    }

    .imagen_proyectos{

        width: 100vw;
        height: 35vh;
        
        
    }

    .imagen__proyectos__1{

        width: 50vw;
        
    }


    .imagen_servicios{

        width: 100vw;
        height: 35vh;

    }

    .imagen__servicios__1{
        
        width: 50vw;
        
    
    }
    .titulo__proyectos{

        width: 50vw;
        height: 15vh;
    
    }
    .titulo__productos__01{

        font-size: 35px;
        
    }

    .titulo__servicios{

        width: 50vw;
        height: 15vh;
        
    }

    .titulo__servicios__01{

        font-size: 35px;   

    }

    /*---fin work---*/
    /*---inicio proyectos---*/

    .gallery-container{

        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-auto-rows: 60vh;
        padding: 20px ;
        grid-gap: 10px;
    
    
    }
    
    .gallery__item{
        position: relative;
    }
    
    .gallery__img{
    
        width: 100%;
        height: 100%;
        object-fit: cover;
    
        
    }
    .gallery__title{
        position: absolute;
        bottom: 0;
        color: white;
        background: linear-gradient(rgba(255,255,255,0),rgba(0,0,0,1));
        width: 100%;
    
    
    }
    
    .gallery__item:nth-child(1){
    
        grid-column-start: span 1;
    }
    

    /*---fin proyectos---*/
      /*---inicio servicio---*/
      .icon-container{

        display: grid;
        grid-template-columns: repeat(1, 3fr);
        height: 170vh;
        grid-gap: 10px;
        background-image: linear-gradient(to top, rgb(94, 94, 94), rgb(0, 0, 0));


    }

    .gallery__icon{

        height: 40vh;
        
    }

    .gallery__img__png{

        width: 35%;
        object-fit: cover;
          
    }

    .gallery__img__png:hover{

        border-radius:50%;
        -webkit-border-radius:50%;
        box-shadow: 0px 0px 15px 15px #696;
        -webkit-box-shadow: 0px 0px 15px 15px #696;
}

    .gallery__title__icon{
        position: absolute;
        display: flex;
        align-content: center;
        justify-content: center;
        bottom: 0;
        color: white;
        margin: 20px;
        width: 100%;
        

    }

    .gallery__icon:nth-child(1){

        grid-column-start: span 1;
    }


    .gallery__icon:nth-child(2){

        grid-column-start: span 1;
       
    }

    .gallery__icon:nth-child(3){

        grid-row-start: span 1;
    }

    .gallery__icon:nth-child(4){

        grid-column-start: span 1;
    }
    
    .text__service{
        position: absolute;
        display: flex;
        align-content: center;
        justify-content: center;
        bottom: 0;
        color: white;
        width: 40%;
        height: 0vh;
        padding-bottom: 10px;
        text-align: center;
        font-size:1.2rem;
        font-family: sans-serif;
        
        
    }
    /*---fin servicio---*/
     /*---inicio contacto---*/

     .contacto{
        width: 100vw;
        height: 75vh;

    }
    .formulario{

        height: 75vh;
        width: 100vw;
        

    }

    .cuadro{

        color: white;
        width: 40vw;
        
    }

    .form-control{
        width: 50vw;
        height: 3vh;
    }

    .form-label{

        display: flex;
        align-content: center;
        justify-content: center;
    }

    #exampleFormControlTextarea1{

        resize: none;
        width: 50vw;
    }

    .enviar{

        font-family: sans-serif;
        background-color: rgb(255, 255, 255);
        color: rgb(0, 0, 0);
        width: 100px;
        height: 30px;
    }

    /*---fin contacto---*/
}


@media (min-width:769px) and (max-width:1023px){
    /*---inicio header---*/
    .container__section1{

        display: grid;
        grid-template-rows: repeat(4, auto);
        width: 100vw;
        height: 100vh;
        background:black

    }
    .titulo{

        text-shadow: 10px 3px 2px #696;
        letter-spacing: 20px;
        word-spacing: 5px;
        
    }
    .nombre{
        font-size: 40px;
    }
    .lista__uno{
        
        width: 100vw;
        flex-direction: row;
        align-items:center;
        justify-content:space-around;  
        align-content: space-between;  

    }
    .contenido {
        font-size: 1.0rem;
    }
    /*---fin header---*/
    /*---inicio banner---*/
    .container__frase{

        display: flex;
        align-items: center;
        justify-content: center;
        
        
    }
    .frase{
        font-size: 4.0em;   
    }
    /*---fin banner---*/
     /*--- inicio about ---*/
    .about{

        
        width: 100vw;
        height: 65vh;
        
    }
    .imagen{
    
        width: 25vw;
        height: 65vh;
    }

    .imagen__portafolio{
        height: 50vh;
        background: white;
        border-radius: 10px;
        
    }
    .texto__about{

        
        width: 65vw;
        height: 65vh;
        
    }
    .texto__about__informacion{

        width: 50vw;
        height: 35vh;
        font-size: 1.4rem;
        padding: 25px;
    }

    .button__cv__texto{

        font-size: 2rem;
    }
    /*---fin about---*/
    /*---inicio work---*/
    .work{

        display: grid;
        grid-template-columns: 50vw 50vw;
        grid-template-rows: 50vh 50vh;
        width: 100vw;
        height: 70vh;
        padding-top: 65px;
        
    }

    .imagen_proyectos{

        
        width: 50vw;
        height: 50vh;
        
        
    }
    
    .imagen__proyectos__1{

        width: 30vw;
        
    }


    .imagen_servicios{

        
        width: 50vw;
        height: 50vh;

    }

    .imagen__servicios__1{
        
        width: 30vw;
        
    }

    .titulo__proyectos{

        width: 50vw;
        height: 15vh;
        
        
    }
    .titulo__productos__01{

        
        font-size: 50px;
        

    }

    .titulo__servicios{

        width: 50vw;
        height: 15vh;
        
    }

    .titulo__servicios__01{

    
        font-size: 50px;
        

    }

    /*---fin work---*/
    /*---inicio proyectos---*/

    .gallery-container{

        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-auto-rows: 60vh;
        padding: 20px ;
        grid-gap: 10px;
    
    
    }
    
    .gallery__item{
        position: relative;
    }
    
    .gallery__img{
    
        width: 100%;
        height: 100%;
        object-fit: cover;
    
        
    }
    .gallery__title{
        position: absolute;
        bottom: 0;
        color: white;
        background: linear-gradient(rgba(255,255,255,0),rgba(0,0,0,1));
        width: 100%;
    
    
    }
    
    .gallery__item:nth-child(1){
    
        grid-column-start: span 2;
    }
    .gallery__item:nth-child(2){
    
        grid-column-start: span 2;
    }
    .gallery__item:nth-child(3){
    
        grid-column-start: span 1;
    }
    .gallery__item:nth-child(4){
    
        grid-column-start: span 2;
    }
    .gallery__item:nth-child(6){
    
        grid-column-start: span 3;
    }
    .gallery__item:nth-child(9){
    
        grid-column-start: span 3;
    }



    /*---fin proyectos---*/
          /*---inicio servicio---*/
          .icon-container{

            display: grid;
            grid-template-columns: repeat(2, 2fr);
            height: 90vh;
            grid-gap: 10px;
            background-image: linear-gradient(to top, rgb(94, 94, 94), rgb(0, 0, 0));
    
    
        }
    
        .gallery__icon{
    
            height: 35vh;
            
        }
    
        .gallery__img__png{
    
            width: 35%;
            object-fit: cover;
              
        }
    
        .gallery__img__png:hover{
    
            border-radius:50%;
            -webkit-border-radius:50%;
            box-shadow: 0px 0px 15px 15px #696;
            -webkit-box-shadow: 0px 0px 15px 15px #696;
    }
    
        .gallery__title__icon{
            position: absolute;
            display: flex;
            align-content: center;
            justify-content: center;
            bottom: 0;
            color: white;
            margin: 20px;
            width: 100%;
            
    
        }
    
        .gallery__icon:nth-child(1){
    
            grid-column-start: span 1;
        }
    
    
        .gallery__icon:nth-child(2){
    
            grid-column-start: span 1;
           
        }
    
        .gallery__icon:nth-child(3){
    
            grid-row-start: span 1;
        }
    
        .gallery__icon:nth-child(4){
    
            grid-column-start: span 1;
        }
        
        .text__service{
            position: absolute;
            display: flex;
            align-content: center;
            justify-content: center;
            bottom: 0;
            color: white;
            width: 40%;
            height: 0vh;
            padding-bottom: 10px;
            text-align: center;
            font-size:1.2rem;
            font-family: sans-serif;
            
            
        }
        /*---fin servicio---*/
     /*---inicio contacto---*/

     .contacto{
        width: 100vw;
        height: 75vh;

    }
    .formulario{

        height: 75vh;
        width: 100vw;
        

    }

    .cuadro{

        color: white;
        width: 40vw;
        
    }

    .form-control{
        width: 50vw;
        height: 3vh;
    }

    .form-label{

        display: flex;
        align-content: center;
        justify-content: center;
    }

    #exampleFormControlTextarea1{

        resize: none;
        width: 50vw;
    }

    .enviar{

        font-family: sans-serif;
        background-color: rgb(255, 255, 255);
        color: rgb(0, 0, 0);
        width: 100px;
        height: 30px;
    }

    /*---fin contacto---*/
    /*---inicio footer---*/

  .icons{
        
        width: 3vw;
       
    }
    /*---fin footer---*/
}

@media (min-width:1024px) and (max-width:2450px){
    /*---inicio header---*/
    .container__section1{
        background:black

    }
    
    .titulo{
        text-shadow: 10px 3px 2px #696;
        letter-spacing: 30px;
        word-spacing: 5px;
        
    }
    .nombre{
        font-size: 50px;
    }
    .lista__uno{
        
        width: 100vw;
        flex-direction: row;
        align-items:center;
        justify-content:space-around;  
        align-content: space-between;  

    }
    .contenido {

        font-size: 1.5rem;
    }
    /*---fin header---*/
    /*---inicio banner---*/
    .container__frase{

        display: flex;
        align-items: center;
        justify-content: center;
        width: 100vw;
        height: 60vh;
              
    }
    .frase{
        font-size: 4.0em;   
    }
    /*---fin banner---*/
    /*--- inicio about ---*/
    .about{

        
        width: 100vw;
        height: 65vh;
        
    }
    .imagen{
    
        width: 19vw;
        height: 65vh;
    }

    .imagen__portafolio{
        height: 50vh;
        background: white;
        border-radius: 5px;
        
    }
    .texto__about{

        
        width: 75vw;
        height: 65vh;
        
    }
    .texto__about__informacion{

        width: 81vw;
        height: 35vh;
        font-size: 1.4rem;
        padding: 25px;
    }
    .button__cv{

        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        width: 100vw;
        height: 5vh;
        background: none;
        
        
    }

    .button__cv__texto{

        border-radius: 8px ;
        width: 20vw;
        font-size: 2rem;
        
    }
    
    /*---fin about---*/
    /*---inicio work---*/
    .work{

        display: grid;
        grid-template-columns: 50vw 50vw;
        grid-template-rows: 50vh 50vh;
        width: 100vw;
        height: 70vh;
        padding-top: 65px;
        
    }

    .imagen_proyectos{

        width: 50vw;
        height: 50vh;
        
        
    }
    

    .imagen__proyectos__1{

        width: 30vw;
       
        
    }

    .imagen_servicios{

        width: 50vw;
        height: 50vh;

    }
    
    .imagen__servicios__1{
        
        width: 30vw;
       
        
    }

    .titulo__proyectos{

        width: 50vw;
        height: 15vh;
          
    }
    .titulo__productos__01{

        font-size: 50px;
        
    }

    .titulo__servicios{

        width: 50vw;
        height: 15vh;
        
    }

    .titulo__servicios__01{

       
        font-size: 50px;
        

    }

    /*---fin work---*/
        /*---inicio proyectos---*/
    .gallery-container{

        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-auto-rows: 40vh;
        padding: 20px ;
        grid-gap: 10px;
        background:black;


    }

    .gallery__item{
        position: relative;
    }

    .gallery__img{

        width: 100%;
        height: 100%;
        object-fit: cover;

        
    }
    .gallery__title{
        position: absolute;
        bottom: 0;
        color: white;
        background: linear-gradient(rgba(255,255,255,0),rgba(0,0,0,1));
        width: 100%;


    }

    .gallery__item:nth-child(3){

        grid-column-start: span 2;
    }


    .gallery__item:nth-child(4){

        grid-column-start: span 2;
        grid-row-start: span 2;
    }

    .gallery__item:nth-child(5){

        grid-row-start: span 2;
    }

    .gallery__item:nth-child(9){

        grid-column-start: span 3;
    }
    

     /*---fin proyectos---*/
      /*---inicio servicio---*/
      .icon-container{

        display: grid;
        grid-template-columns: repeat(4, 1fr);
        height: 75vh;
        grid-gap: 10px;
        background:black;


    }

    .gallery__icon{
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        align-content: center;
        height: 35vh;
        
    }

    .gallery__img__png{

        width: 35%;
        object-fit: cover;
          
    }

    .gallery__img__png:hover{
        border-radius:50%;
        -webkit-border-radius:50%;
        box-shadow: 0px 0px 15px 15px #696;
        -webkit-box-shadow: 0px 0px 15px 15px #696;
}

    .gallery__title__icon{
        position: absolute;
        display: flex;
        align-content: center;
        justify-content: center;
        bottom: 0;
        color: white;
        background: linear-gradient(rgba(255,255,255,0),rgba(0,0,0,1));
        width: 100%;

    }

    .gallery__icon:nth-child(1){

        grid-column-start: span 1;
    }


    .gallery__icon:nth-child(2){

        grid-column-start: span 1;
       
    }

    .gallery__icon:nth-child(3){

        grid-row-start: span 1;
    }

    .gallery__icon:nth-child(4){

        grid-column-start: span 1;
    }
    
    .text__service{
        color: white;
        height: 0vh;
        width: 20vw;
        
    }
    /*---fin servicio---*/
    /*---inicio contacto---*/

     .contacto{
        width: 100vw;
        height: 75vh;

    }
    .formulario{

        height: 75vh;
        width: 100vw;
        

    }

    .cuadro{

        color: white;
        width: 30vw;
        
    }

    .form-control{
        width: 30vw;
        height: 3vh;
    }

    .form-label{

        display: flex;
        align-content: center;
        justify-content: center;
    }

    #exampleFormControlTextarea1{

        resize: none;
        width: 30vw;
    }

    .enviar{

        font-family: sans-serif;
        background-color: rgb(255, 255, 255);
        color: rgb(0, 0, 0);
        width: 100px;
        height: 30px;
    }

    /*---fin contacto---*/
    /*---inicio footer---*/
    .footer__icons{
        
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-content: stretch;
        align-items: flex-start;
        width: 100vw;
        height: 20vh;
        padding-bottom: 25px;
        padding-left: 10px;
    }
           
    .icons{
        border: solid black 2px;
        width: 2vw;
       
    }
    /*---fin footer---*/
   
}